A4_Client/src/META-INF/wsdl/localhost_8080/A4/admin.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://web_services.javawebservice.a4.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_services.javawebservice.a4.com/">

<xs:element name="addPackage" type="tns:addPackage"/>

<xs:element name="addPackageResponse" type="tns:addPackageResponse"/>

<xs:element name="deletePackage" type="tns:deletePackage"/>

<xs:element name="deletePackageResponse" type="tns:deletePackageResponse"/>

<xs:element name="getPackages" type="tns:getPackages"/>

<xs:element name="getPackagesResponse" type="tns:getPackagesResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="package" type="tns:package"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="admin" type="xs:boolean"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPackage">
<xs:sequence>
<xs:element name="package" type="tns:package" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="package">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="destinationCity" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="receiverId" type="xs:int"/>
<xs:element name="senderCity" type="xs:string" minOccurs="0"/>
<xs:element name="senderId" type="xs:int"/>
<xs:element name="tracking" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPackageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePackage">
<xs:sequence>
<xs:element name="packageId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePackageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPackages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPackagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:package" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>