A4_Client/src/META-INF/wsdl/localhost_8080/A4/admin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services.javawebservice.a4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services.javawebservice.a4.com/" name="admin">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services.javawebservice.a4.com/" schemaLocation="http://localhost:8080/A4/admin?xsd=1"/>
</xsd:schema>
</types>
<message name="getPackages">
<part name="parameters" element="tns:getPackages"/>
</message>
<message name="getPackagesResponse">
<part name="parameters" element="tns:getPackagesResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="deletePackage">
<part name="parameters" element="tns:deletePackage"/>
</message>
<message name="deletePackageResponse">
<part name="parameters" element="tns:deletePackageResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="addPackage">
<part name="parameters" element="tns:addPackage"/>
</message>
<message name="addPackageResponse">
<part name="parameters" element="tns:addPackageResponse"/>
</message>
<portType name="AdminOperationsWebService">
<operation name="getPackages">
<input wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getPackagesRequest" message="tns:getPackages"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getPackagesResponse" message="tns:getPackagesResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="deletePackage">
<input wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/deletePackageRequest" message="tns:deletePackage"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/deletePackageResponse" message="tns:deletePackageResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="addPackage">
<input wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/addPackageRequest" message="tns:addPackage"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/AdminOperationsWebService/addPackageResponse" message="tns:addPackageResponse"/>
</operation>
</portType>
<binding name="AdminOperationsWebServicePortBinding" type="tns:AdminOperationsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="admin">
<port name="AdminOperationsWebServicePort" binding="tns:AdminOperationsWebServicePortBinding">
<soap:address location="http://localhost:8080/A4/admin"/>
</port>
</service>
</definitions>