A4_Client/src/META-INF/wsdl/localhost_8080/A4/client.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://web_services.javawebservice.a4.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_services.javawebservice.a4.com/">

<xs:element name="beginTracking" type="tns:beginTracking"/>

<xs:element name="beginTrackingResponse" type="tns:beginTrackingResponse"/>

<xs:element name="getPackage" type="tns:getPackage"/>

<xs:element name="getPackageResponse" type="tns:getPackageResponse"/>

<xs:element name="getPackages" type="tns:getPackages"/>

<xs:element name="getPackagesResponse" type="tns:getPackagesResponse"/>

<xs:element name="getRoute" type="tns:getRoute"/>

<xs:element name="getRouteResponse" type="tns:getRouteResponse"/>

<xs:element name="getRoutes" type="tns:getRoutes"/>

<xs:element name="getRoutesResponse" type="tns:getRoutesResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="package" type="tns:package"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="getPackage">
<xs:sequence>
<xs:element name="packageId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPackageResponse">
<xs:sequence>
<xs:element name="return" type="tns:package" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="package">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="destinationCity" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="receiverId" type="xs:int"/>
<xs:element name="senderCity" type="xs:string" minOccurs="0"/>
<xs:element name="senderId" type="xs:int"/>
<xs:element name="tracking" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoutes">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoutesResponse">
<xs:sequence>
<xs:element name="return" type="tns:route" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="route">
<xs:sequence>
<xs:element name="arrivalTime" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="packageId" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="admin" type="xs:boolean"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoute">
<xs:sequence>
<xs:element name="routeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRouteResponse">
<xs:sequence>
<xs:element name="return" type="tns:route" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPackages">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPackagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:package" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="beginTracking">
<xs:sequence>
<xs:element name="packageId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="beginTrackingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>