A4_Client/src/META-INF/wsdl/localhost_8080/A4/client.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services.javawebservice.a4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services.javawebservice.a4.com/" name="client">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services.javawebservice.a4.com/" schemaLocation="http://localhost:8080/A4/client?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="getPackage">
<part name="parameters" element="tns:getPackage"/>
</message>
<message name="getPackageResponse">
<part name="parameters" element="tns:getPackageResponse"/>
</message>
<message name="getPackages">
<part name="parameters" element="tns:getPackages"/>
</message>
<message name="getPackagesResponse">
<part name="parameters" element="tns:getPackagesResponse"/>
</message>
<message name="beginTracking">
<part name="parameters" element="tns:beginTracking"/>
</message>
<message name="beginTrackingResponse">
<part name="parameters" element="tns:beginTrackingResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getRoutes">
<part name="parameters" element="tns:getRoutes"/>
</message>
<message name="getRoutesResponse">
<part name="parameters" element="tns:getRoutesResponse"/>
</message>
<message name="getRoute">
<part name="parameters" element="tns:getRoute"/>
</message>
<message name="getRouteResponse">
<part name="parameters" element="tns:getRouteResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="ClientOperationsWebService">
<operation name="register">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getPackage">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getPackageRequest" message="tns:getPackage"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getPackageResponse" message="tns:getPackageResponse"/>
</operation>
<operation name="getPackages">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getPackagesRequest" message="tns:getPackages"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getPackagesResponse" message="tns:getPackagesResponse"/>
</operation>
<operation name="beginTracking">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/beginTrackingRequest" message="tns:beginTracking"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/beginTrackingResponse" message="tns:beginTrackingResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getRoutes">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getRoutesRequest" message="tns:getRoutes"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getRoutesResponse" message="tns:getRoutesResponse"/>
</operation>
<operation name="getRoute">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getRouteRequest" message="tns:getRoute"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/getRouteResponse" message="tns:getRouteResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://web_services.javawebservice.a4.com/ClientOperationsWebService/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="ClientOperationsWebServicePortBinding" type="tns:ClientOperationsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="beginTracking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoutes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="client">
<port name="ClientOperationsWebServicePort" binding="tns:ClientOperationsWebServicePortBinding">
<soap:address location="http://localhost:8080/A4/client"/>
</port>
</service>
</definitions>